<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key></key>
	<array>
		<string>高级模式</string>
		<string>主题色</string>
	</array>
	<key>1</key>
	<array>
		<string>关于</string>
		<string>联系我们</string>
	</array>
</dict>
</plist>
